<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header" id="headingTwo">
				<b>&nbsp;</b>
			</div>
			<div class="card-body">
				<f:form.hidden property="patient" value="{patient.uid}"/>
				<div class="form-group row">
					<label for="dateconsultation" class="col-sm-4 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
					</label>
					<div class="input-group col-sm-8">
						<f:form.textfield id="dateconsultation"
						                  additionalAttributes="{class:'form-control'}"
						                  property="date"
						                  type="date"
						                  value="{f:format.date(date:consultation.date, format:'Y-m-d')}"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="lieuconsultation" class="col-sm-4 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.place"/>
					</label>
					<div class="input-group col-sm-8">
						<f:form.textfield id="lieuconsultation"
						                  additionalAttributes="{class:'form-control'}"
						                  property="place"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="motif" class="col-sm-4 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.reason"/>
					</label>
					<div class="input-group col-sm-8">
						<f:form.textfield id="motif"
						                  name="motifOption"
						                  additionalAttributes="{class:'form-control'}"
						                  property="reason"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="note" class="col-sm-4 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.notice"/>
					</label>
					<div class="input-group col-sm-8">
						<f:form.textarea id="note"
						                 additionalAttributes="{class:'form-control'}"
						                 rows="13"
						                 property="note"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link"
				   id="soin-tab"
				   data-toggle="tab"
				   href="#soin"
				   role="tab"
				   aria-controls="soin"
				   aria-expanded="true">
					<f:translate key="tx_accountingsystem_domain_model_consultation.billing"/>
				</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade active in" id="soin" role="tabpanel" aria-labelledby="soin-tab">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.comments"/>
					</label>
					<div class="input-group col-sm-10">
						<f:form.textarea additionalAttributes="{class:'form-control'}" rows="4" property="comments"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="rate" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.rate"/>
					</label>
					<div class=" input-group col-sm-10">
						<f:form.textfield id="rate" additionalAttributes="{class:'form-control'}" property="rate"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="tarifcode" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.ctarifshort"/>
					</label>
					<div class="input-group col-sm-10">
						<f:form.textfield id="tarifcode"
						                  name="tafifOption"
						                  additionalAttributes="{class:'form-control'}"
						                  property="amountCode"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="quantity" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.quantity"/>
					</label>
					<div class="input-group col-sm-10">
						<f:form.textfield id="quantity"
						                  name="qtyOption"
						                  additionalAttributes="{class:'form-control'}"
						                  property="quantity"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="price" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.price"/>
					</label>
					<div class="input-group col-sm-10">
						<f:form.textfield id="price"
						                  name="priceOption"
						                  additionalAttributes="{class:'form-control'}"
						                  property="price"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="vpoint" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.ptvalue"/>
					</label>
					<div class=" input-group col-sm-10">
						<f:form.textfield id="vpoint"
						                  additionalAttributes="{class:'form-control'}"
						                  property="pointValue"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="tva" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.tva"/>
					</label>
					<div class=" input-group col-sm-10">
						<f:form.textfield id="tva" additionalAttributes="{class:'form-control'}" property="tva"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="montant" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
					</label>
					<div class=" input-group col-sm-10">
						<span class="btn input-group-addon">CHF</span>
						<f:form.textfield id="montant" additionalAttributes="{class:'form-control'}" property="amount"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<f:link.action additionalAttributes="{class:'btnback btn btn-primary'}">
			Retour
		</f:link.action>
	</div>
	<div class="col-md-8">
		<f:form.submit additionalAttributes="{class:'btn btn-primary'}" value="Enregistrer"/>
	</div>
</div>

</html>