<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="table table-striped">
	<thead>
	<tr>
		<th>

		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.place"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.reason"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.ctarif"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.quantity"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.price"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
		</th>
		<th>
			<f:translate key="tx_accountingsystem_domain_model_consultation.action"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{patient.consultations}" as="consultation">
		<f:if condition="{consultation.serviceProvider} == {serviceProvider}">
			<tr>
				<td>
					<f:if condition="!{consultation.isInvoiced}">
						<f:form.checkbox class="consultations" name="consultations[]" value="{consultation.uid}"/>
					</f:if>
				</td>
				<td>
					{consultation.date->f:format.date()}
				</td>
				<td>
					{consultation.place}
				</td>
				<td>
					{consultation.reason}
				</td>
				<td>
					{consultation.amountCode}
				</td>
				<td>
					{consultation.quantity}
				</td>
				<td>
					{consultation.price}
				</td>
				<td>
					{consultation.amount}
				</td>
				<td>
					<f:link.action action="edit"
					               controller="Consultation"
					               arguments="{consultation : consultation, patient: patient}">
						<span class="glyphicon glyphicon-edit"></span></f:link.action>
					<f:if condition="!{consultation.isInvoiced}">
					<f:link.action action="delete" controller="Consultation" arguments="{consultation : consultation}">
						<span class="delete-confirm glyphicon glyphicon-trash"></span></f:link.action>
					</f:if>
				</td>
			</tr>
		</f:if>
	</f:for>
	</tbody>
</table>
<div class="row">
	<div class="col-md-6">
		<f:link.action additionalAttributes="{class:'btn btn-primary'}"
		               action="new"
		               controller="Consultation"
		               name="consultation"
		               arguments="{patient: patient}">
			<f:translate key="tx_accountingsystem_domain_model_consultation.add"/>
		</f:link.action>
	</div>
	<div class="col-md-6">
		<f:link.action id="gen-invoice"
		               additionalAttributes="{class:'btn btn-primary'}"
		               action="create"
		               controller="Invoice"
		               noCacheHash="true">
			Génerer Facture
		</f:link.action>
	</div>
</div>
</html>
