<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
	<div class="col-md-4">
		<div>
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="headingOne">
						<button class="btn btn-link"
						        data-toggle="collapse"
						        data-target="#collapseOne"
						        aria-expanded="false"
						        aria-controls="collapseOne">
							<b>{patient.prenoms} {patient.nom}</b>
						</button>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<div class="form-group row">
								<label for="prenoms" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.prenoms"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="prenoms"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="nom" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.nom"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="nom"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="adresse" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.adresse"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="adresse"/>
								</div>
							</div>

							<div class="form-group row">
								<label for="rue" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.rue"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="rue"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="codepostal" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.codepostal"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="codepostal"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="ville" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.ville"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="ville"/>
								</div>
							</div>

							<div class="form-group row">
								<label for="telephoneportable" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.telephoneportable"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="telephoneportable"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="telephonefixe" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.telephonefixe"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="telephonefixe"/>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.mail"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" type="email" property="mail"/>
									<a href="mailto:{patient.mail}" class="btn input-group-addon"> @</a>
								</div>
							</div>

							<div class="form-group row">
								<label for="datenaissance" class="col-sm-4 col-form-label">Naissance</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" type="date" property="datenaissance"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="divers" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.divers"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="divers"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link"
				   id="info-tab"
				   data-toggle="tab"
				   href="#info"
				   role="tab"
				   aria-controls="info"
				   aria-expanded="true">
					<f:translate key="tx_accountingsystem_domain_model_patient.info"/>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="consultation-tab"
				   data-toggle="tab"
				   href="#consultation"
				   role="tab"
				   aria-controls="consultation"
				   aria-selected="false">
					<f:translate key="tx_accountingsystem_domain_model_patient.consultation"/>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="invoice-tab"
				   data-toggle="tab"
				   href="#invoice"
				   role="tab"
				   aria-controls="invoice"
				   aria-selected="false">
					<f:translate key="tx_accountingsystem_domain_model_patient.invoice"/>
				</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade active in" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="form-group row">
					<label for="accidents" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.accidents"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="accidents"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="operations" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.operations"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="operations"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="maladies" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.maladies"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="maladies"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="traitements" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.traitements"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="traitements"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="anamnese" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.anamnese"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="anamnese"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="commentaires" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.commentaires"/>
					</label>
					<div class="col-sm-10">
						<f:form.textarea additionalAttributes="{class:'form-control'}" property="commentaires"/>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="consultation" role="tabpanel" aria-labelledby="consultation-tab">
				<!--<f:render partial="Consultation/List" arguments="{patient:patient}" />-->
				<table id="asdf" class="table table-striped">
					<thead>
					<tr>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.place"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.reason"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.ctarif"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.quantity"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.price"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.action"/>
						</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{consultations}" as="consultation">
						<tr>
							<td>
								{consultation.date}
							</td>
							<td>
								{consultation.lieu}
							</td>
							<td>
								{consultation.motif}
							</td>
							<td>
								{consultation.codetarifaire}
							</td>
							<td>
								{consultation.date}
							</td>
							<td>
								{consultation.date}
							</td>
							<td>
								{consultation.date}
							</td>
							<td>
								<f:link.action action="edit" arguments="{patient : patient}"><span class="glyphicon glyphicon-edit"></span></f:link.action>
								&nbsp; &nbsp; &nbsp;
								<f:link.action action="delete"  arguments="{patient : patient}"><span class="delete-confirm glyphicon glyphicon-trash"></span></f:link.action>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>

				<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="newConsultation" arguments="{consultation : consultation}">
					<f:translate key="tx_accountingsystem_domain_model_consultation.add"/>
				</f:link.action>
			</div>
			<div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.idpatient"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.type"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.notice"/>
						</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="" arguments="{patient : patient}">
					<f:translate key="tx_accountingsystem_domain_model_invoice.printbill"/>
				</f:link.action>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6">
		<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="list">
			<f:translate key="tx_accountingsystem_domain_model_patient.backtolist"/>
		</f:link.action>
	</div>
	<div class="col-md-6">
		<f:form.submit additionalAttributes="{class:'btn btn-primary'}" value="Enregistrer"/>
	</div>
</div>
</html>