<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
	<div class="col-md-4">
		<div>
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="headingOne">
						<button class="btn btn-link"
						        data-toggle="collapse"
						        data-target="#collapseOne"
						        aria-expanded="false"
						        aria-controls="collapseOne">
							<b>{patient.firstName} {patient.lastName}</b>
						</button>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<div class="form-group row">
								<label for="firstName" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.first_name"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="firstName"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="lastName" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.last_name"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="lastName"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="address" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.address"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="address"/>
								</div>
							</div>

							<div class="form-group row">
								<label for="street" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.street"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="street"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="postalCode" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.postal_code"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="postalCode"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="city" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.city"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="city"/>
								</div>
							</div>

							<div class="form-group row">
								<label for="mobilePhone" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.mobile_phone"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="mobilePhone"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="phone" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.phone"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="phone"/>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.email"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" type="email" property="email"/>
									<a href="mailto:{patient.email}" class="btn input-group-addon"> @</a>
								</div>
							</div>

							<div class="form-group row">
								<label for="birthDate" class="col-sm-4 col-form-label">Naissance</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" type="datetime-local" property="birthDate"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="other" class="col-sm-4 col-form-label">
									<f:translate key="tx_accountingsystem_domain_model_patient.other"/>
								</label>
								<div class="input-group col-sm-8">
									<f:form.textfield additionalAttributes="{class:'form-control'}" property="other"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link"
				   id="info-tab"
				   data-toggle="tab"
				   href="#info"
				   role="tab"
				   aria-controls="info"
				   aria-expanded="true">
					<f:translate key="tx_accountingsystem_domain_model_patient.info"/>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="consultation-tab"
				   data-toggle="tab"
				   href="#consultation"
				   role="tab"
				   aria-controls="consultation"
				   aria-selected="false">
					<f:translate key="tx_accountingsystem_domain_model_patient.consultation"/>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="invoice-tab"
				   data-toggle="tab"
				   href="#invoice"
				   role="tab"
				   aria-controls="invoice"
				   aria-selected="false">
					<f:translate key="tx_accountingsystem_domain_model_patient.invoice"/>
				</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade active in" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="form-group row">
					<label for="accidents" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.accidents"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="accidents"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="operations" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.operations"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="operations"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="diseases" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.diseases"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="diseases"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="treatments" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.treatments"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="treatments"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="anamnesis" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.anamnesis"/>
					</label>
					<div class="col-sm-10">
						<f:form.textfield additionalAttributes="{class:'form-control'}" property="anamnesis"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="comments" class="col-sm-2 col-form-label">
						<f:translate key="tx_accountingsystem_domain_model_patient.comments"/>
					</label>
					<div class="col-sm-10">
						<f:form.textarea additionalAttributes="{class:'form-control'}" property="comments"/>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="consultation" role="tabpanel" aria-labelledby="consultation-tab">
				<!--<f:render partial="Consultation/List" arguments="{patient:patient}" />-->
				<table id="asdf" class="table table-striped">
					<thead>
					<tr>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.place"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.reason"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.ctarif"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.quantity"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.price"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.action"/>
						</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{patient.consultations}" as="consultation">
						<tr>
							<td>
								{consultation.date}
							</td>
							<td>
								{consultation.place}
							</td>
							<td>
								{consultation.reason}
							</td>
							<td>
								{consultation.amountCode}
							</td>
							<td>
								{consultation.quantity}
							</td>
							<td>
								{consultation.price}
							</td>
							<td>
								{consultation.amount}
							</td>
							<td>
								<f:link.action action="edit" controller="Consultation" arguments="{consultation : consultation}"><span class="glyphicon glyphicon-edit"></span></f:link.action>
								&nbsp; &nbsp; &nbsp;
								<f:link.action action="delete"  controller="Consultation" arguments="{consultation : consultation}"><span class="delete-confirm glyphicon glyphicon-trash"></span></f:link.action>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-6">
						<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="new" controller="Consultation" name="newConsultation" arguments="{patient: patient}">
							<f:translate key="tx_accountingsystem_domain_model_consultation.add"/>
						</f:link.action>
					</div>
					<div class="col-md-6">
						<f:form.submit additionalAttributes="{class:'btn btn-primary'}" value="Générer Facture"/>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.idpatient"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.type"/>
						</th>
						<th scope="col">
							<f:translate key="tx_accountingsystem_domain_model_consultation.notice"/>
						</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="" arguments="{patient : patient}">
					<f:translate key="tx_accountingsystem_domain_model_invoice.printbill"/>
				</f:link.action>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6">
		<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="list">
			<f:translate key="tx_accountingsystem_domain_model_patient.backtolist"/>
		</f:link.action>
	</div>
	<div class="col-md-6">
		<f:form.submit additionalAttributes="{class:'btn btn-primary'}" value="Enregistrer"/>
	</div>
</div>
</html>