<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="nom">
	<f:translate key="tx_accountingsystem_domain_model_patient.nom" />
</label><br />
	<f:form.textfield property="nom" /><br />
<label for="prenoms">
	<f:translate key="tx_accountingsystem_domain_model_patient.prenoms" />
</label><br />
	<f:form.textfield property="prenoms" /><br />
<label for="adresse">
	<f:translate key="tx_accountingsystem_domain_model_patient.adresse" />
</label><br />
	<f:form.textfield property="adresse" /><br />
<label for="telephoneportable">
	<f:translate key="tx_accountingsystem_domain_model_patient.telephoneportable" />
</label><br />
	<f:form.textfield property="telephoneportable" /><br />
<label for="telephonefixe">
	<f:translate key="tx_accountingsystem_domain_model_patient.telephonefixe" />
</label><br />
	<f:form.textfield property="telephonefixe" /><br />
<label for="mail">
	<f:translate key="tx_accountingsystem_domain_model_patient.mail" />
</label><br />
	<f:form.textfield property="mail" /><br />
<label for="datenaissance">
	<f:translate key="tx_accountingsystem_domain_model_patient.datenaissance" />
</label><br />
	<f:form.textfield property="datenaissance" /><br />
<label for="commentaires">
	<f:translate key="tx_accountingsystem_domain_model_patient.commentaires" />
</label><br />
	<f:form.textfield property="commentaires" /><br />
<label for="anamnese">
	<f:translate key="tx_accountingsystem_domain_model_patient.anamnese" />
</label><br />
	<f:form.textfield property="anamnese" /><br />
<label for="accidents">
	<f:translate key="tx_accountingsystem_domain_model_patient.accidents" />
</label><br />
	<f:form.textfield property="accidents" /><br />
<label for="operations">
	<f:translate key="tx_accountingsystem_domain_model_patient.operations" />
</label><br />
	<f:form.textfield property="operations" /><br />
<label for="maladies">
	<f:translate key="tx_accountingsystem_domain_model_patient.maladies" />
</label><br />
	<f:form.textfield property="maladies" /><br />
<label for="traitements">
	<f:translate key="tx_accountingsystem_domain_model_patient.traitements" />
</label><br />
	<f:form.textfield property="traitements" /><br />
<label for="divers">
	<f:translate key="tx_accountingsystem_domain_model_patient.divers" />
</label><br />
	<f:form.textfield property="divers" /><br />
</html>