<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-accounting-system" >
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.nom" />
		</td>
		<td>
		{patient.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.prenoms" />
		</td>
		<td>
		{patient.prenoms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.adresse" />
		</td>
		<td>
		{patient.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.telephoneportable" />
		</td>
		<td>
		{patient.telephoneportable}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.telephonefixe" />
		</td>
		<td>
		{patient.telephonefixe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.mail" />
		</td>
		<td>
		{patient.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.datenaissance" />
		</td>
		<td>
		{patient.datenaissance}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.commentaires" />
		</td>
		<td>
		{patient.commentaires}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.anamnese" />
		</td>
		<td>
		{patient.anamnese}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.accidents" />
		</td>
		<td>
		{patient.accidents}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.operations" />
		</td>
		<td>
		{patient.operations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.maladies" />
		</td>
		<td>
		{patient.maladies}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.traitements" />
		</td>
		<td>
		{patient.traitements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_accountingsystem_domain_model_patient.divers" />
		</td>
		<td>
		{patient.divers}
		</td>
	</tr>
</table>
</html>