<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
	<div class="col-md-4">
		<div>
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="headingOne">
							<button class="btn btn-link"
							        data-toggle="collapse"
							        data-target="#collapseOne"
							        aria-expanded="false"
							        aria-controls="collapseOne">
								<b>{patient.firstName} {patient.lastName}</b>
							</button>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<form>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.first_name"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.firstName}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.last_name"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.lastName}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.address"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.address}">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.street"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.street}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.postal_code"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.postalCode}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.city"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.city}">
									</div>
								</div>


								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.mobile_phone"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text"
										       readonly
										       class="form-control"
										       value="{patient.mobilePhone}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.phone"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text"
										       readonly
										       class="form-control"
										       value="{patient.phone}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.email"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.email}">
										<a href="mailto:{patient.email}" class="btn input-group-addon"> @</a>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Naissance</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.birthDate}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">
										<f:translate key="tx_accountingsystem_domain_model_patient.other"/>
									</label>
									<div class="input-group col-sm-9">
										<input type="text" readonly class="form-control" value="{patient.other}">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link"
				   id="info-tab"
				   data-toggle="tab"
				   href="#info"
				   role="tab"
				   aria-controls="info"
				   aria-expanded="true">Informations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="consultations-tab"
				   data-toggle="tab"
				   href="#consultations"
				   role="tab"
				   aria-controls="consultations"
				   aria-selected="false">Consultations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   id="invoice-tab"
				   data-toggle="tab"
				   href="#invoice"
				   role="tab"
				   aria-controls="invoice"
				   aria-selected="false">Factures
				</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade active in" id="info" role="tabpanel" aria-labelledby="info-tab">
				<form>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.accidents"/>
						</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" value="{patient.accidents}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.operations"/>
						</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" value="{patient.operations}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.diseases"/>
						</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" value="{patient.diseases}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.treatments"/>
						</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" value="{patient.treatments}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.anamnesis"/>
						</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" value="{patient.anamnesis}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">
							<f:translate key="tx_accountingsystem_domain_model_patient.comments"/>
						</label>
						<div class="col-sm-10">
							<textarea name=""
							          readonly
							          id=""
							          rows="3"
							          class="form-control">{patient.comments}</textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="consultations" role="tabpanel" aria-labelledby="consultations-tab">
				<table id="asdf" class="table table-striped">
					<thead>
					<tr>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.consultationdate"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.place"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.reason"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.ctarif"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.quantity"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.price"/>
						</th>
						<th>
							<f:translate key="tx_accountingsystem_domain_model_consultation.amount"/>
						</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{patient.consultations}" as="consultation">
						<tr>
							<td>
								{consultation.date}
							</td>
							<td>
								{consultation.place}
							</td>
							<td>
								{consultation.reason}
							</td>
							<td>
								{consultation.amountCode}
							</td>
							<td>
								{consultation.quantity}
							</td>
							<td>
								{consultation.price}
							</td>
							<td>
								{consultation.amount}
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Date</th>
						<th scope="col">Montant</th>
						<th scope="col">Type</th>
						<th scope="col">Notes</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="edit" arguments="{patient : patient}">Modifier</f:link.action>
	</div>
	<div class="col-md-6">
		<f:link.action additionalAttributes="{class:'btn btn-primary'}" action="list">
			<f:translate key="tx_accountingsystem_domain_model_patient.backtolist"/>
		</f:link.action>
	</div>
</div>
</html>